
.internexp {
  /* border: 3px solid red; */
  text-align: center;
}
.internexp td, .internexp th{
   border: 1px solid red;
   text-align: center;
}
.skills{
  border: 3px solid red;

}
.subskill{
    border: 2px solid red;
  background-color: grey;

}
body{
 background-color: #CDF0EA;
}
hr{
  border-color: grey;
  border-style: none;
  border-width:5px;
  border-top-style:dotted;
  width:5%;

}
h1{
  color:#368B85;
}
h3{
  color:#368B85;
  }
}
