
/* Tag Selector */
h1{
  font-style: italic;
}


/* Class selector */
.banana{
  height: 200px;
  width: 200px;
 }
 .apple{
   height: 300px;
   width: 300px;
 }
 .circular
{
  border-radius: 100%;
}
/* ID selector */
#heading:hover{
  color:yellow

}
